.ingredients {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.caption {
    font-size: 15px;
    text-align: center;
    background-color: green;
}

h1{
    text-align: center;
    color: rgb(138, 31, 10);
    border: 2px;
    text-decoration: underline;
}

h3 {
    font-size: 26px;
    color: white;

}

.steps {
    font-size: 22px;
    font-weight: 500;
    text-decoration: wavy;
}

button {
    padding: 10px 20px;
    background-color: #53554f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;
}