li {
    color: #0C0A08;
    background-color: #bfaa98;
    opacity: .7;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    font-family: Times, 'Times New Roman', serif;
}
ul {
    list-style-type: none;
    line-height: 1.5;
    margin: 0 auto;
    padding: 5px 0px;
    width: 75%;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: black;
    font-family: Times, 'Times New Roman', serif;
    background-color: #A2ABAB;
    margin: 0 auto;
    padding: 10px 0px;
    width: 50%;
    opacity: .7;
}

img {
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #888888;
    width: auto;
    height: 300px;
}
body {
    background: radial-gradient(circle at center, #BBDFC5, #654F6F, #A8C69F);
    background-color: #3494E6;
}